<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Gadgets</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div th:insert="~{fragments/fullnavbar :: copy}"></div>

<div th:switch="${fullView}">
    <h2 th:case="null">Ничего не найдено!</h2>
    <div th:case="*">
        <div class="container-fluid">
            <table class="table">
                <thead>
                <tr>
                    <th>Изображение</th>
                    <th>Название</th>
                    <th>Брэнд</th>
                    <th>Категория</th>
                    <th>Цена</th>
                    <th>ОЗУ</th>
                    <th>Процессор</th>
                    <th>Ядер</th>
                    <th>ПЗУ</th>
                    <th>Описание</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="product : ${fullView}">
                    <td th:hidden="${product.id}"></td>
                    <td><img th:src="${product.image}" style="width: 150px; height: 150px"></td>
                    <td th:text="${product.name}"></td>
                    <td th:text="${product.vendor}"></td>
                    <td th:text="${product.category}"></td>
                    <td th:text="${product.price}"></td>
                    <td th:text="${product.ram}"></td>
                    <td th:text="${product.cpu}"></td>
                    <td th:text="${product.cores}"></td>
                    <td th:text="${product.storage}"></td>
                    <td th:text="${product.descriptionId}"></td>
                    <td><a th:href="@{product-update/{id}(id=${product.id})}">Изменить</a></td>
                    <td><a th:href="@{product-delete/{id}(id=${product.id})}">Удалить</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>