<head>
    <meta charset="UTF-8">
    <title>Search</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body xmlns:th="http://www.w3.org/1999/xhtml">

<div th:insert="~{fragments/fullnavbar :: copy}"></div>

<div class="container mt-2">
    <div th:switch="${filters}">
        <h2 th:case="null">Ничего не найдено!</h2>
        <div th:case="*">
            <div class="container-fluid">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Изображение</th>
                        <th>Название</th>
                        <th>Брэнд</th>
                        <th>Категория</th>
                        <th>Цена</th>
                        <th>ОЗУ</th>
                        <th>Процессор</th>
                        <th>Кол. ядер</th>
                        <th>ПЗУ</th>
                        <th>Описание</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="filter : ${filters}">
                        <td th:hidden="${filter.id}"></td>
                        <td><img th:src="${filter.image}" style="width: 150px; height: 150px"></td>
                        <td th:text="${filter.name}"></td>
                        <td th:text="${filter.vendor}"></td>
                        <td th:text="${filter.category}"></td>
                        <td th:text="${filter.price}"></td>
                        <td th:text="${filter.ram}"></td>
                        <td th:text="${filter.cpu}"></td>
                        <td th:text="${filter.cores}"></td>
                        <td th:text="${filter.storage}"></td>
                        <td th:text="${filter.descriptionId}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>