<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body xmlns:th="http://www.w3.org/1999/xhtml">

<div th:insert="~{fragments/fullnavbar :: copy}"></div>

<div class="container mt-2">
    <div th:switch="${byNameIgnoreCase}">
        <h2 th:case="null">Ничего не найдено!</h2>
        <div th:case="*">
            <div class="container-fluid">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Изображение</th>
                        <th>Название</th>
                        <th>Брэнд</th>
                        <th>Категория</th>
                        <th>Цена</th>
                        <th>Оперативная память</th>
                        <th>Процессор</th>
                        <th>Кол. ядер</th>
                        <th>Встроенная память</th>
                        <th>Описание</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="byName : ${byNameIgnoreCase}">
                        <td th:hidden="${byName.id}"></td>
                        <td><img th:src="${byName.image}" style="width:150px; height: 150px"></td>
                        <td th:text="${byName.name}"></td>
                        <td th:text="${byName.vendor}"></td>
                        <td th:text="${byName.category}"></td>
                        <td th:text="${byName.price}"></td>
                        <td th:text="${byName.ram}"></td>
                        <td th:text="${byName.cpu}"></td>
                        <td th:text="${byName.cores}"></td>
                        <td th:text="${byName.storage}"></td>
                        <td th:text="${byName.descriptionId}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>