<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<div class="container mt-3"></div>
<body xmlns:th="http://www.w3.org/1999/xhtml">
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h2 class="my-0 mr-md-auto font-weight-normal">Смартфоны</h2>
    <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="/products">Главная</a>
    </nav>
</div>
<div class="container mt-2">
    <div th:switch="${byCategory}">
        <h2 th:case="null">Ничего не найдено!</h2>
        <div th:case="*">
            <div class="container-fluid">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Изображение</th>
                        <th>Название</th>
                        <th>Брэнд</th>
                        <th>Категория</th>
                        <th>Цена</th>
                        <th>Оперативная память</th>
                        <th>Процессор</th>
                        <th>Кол. ядер</th>
                        <th>Встроенная память</th>
                        <th>Описание</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="category : ${byCategory}">
                        <td th:hidden="${category.id}"></td>
                        <td> <img th:src="${category.image}"  style="width:150px; height: 150px"></td>
                        <td th:text="${category.name}"></td>
                        <td th:text="${category.vendor}"></td>
                        <td th:text="${category.category}"></td>
                        <td th:text="${category.price}"></td>
                        <td th:text="${category.ram}"></td>
                        <td th:text="${category.cpu}"></td>
                        <td th:text="${category.cores}"></td>
                        <td th:text="${category.storage}"></td>
                        <td th:text="${category.descriptionId}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>