<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<meta charset="UTF-8">
<title>Description update</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>
<body>
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal">Внесите изменения</h5>
    <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="/products">Главня</a>
    </nav>
</div>

<form action="#" th:action="@{/description-create}" th:object="${description}" method="post">
    <label for="id">Id</label>
    <input readonly type="number" th:field="*{id}" id="id" placeholder="id">
    <label for="Operation System">Operation System</label>
    <input type="text" th:field="*{operationSystem}" id="Operation System" placeholder="add operation System">
    <label for="color">Color</label>
    <input type="text" th:field="*{color}" id="color" placeholder="add color">
    <label for="model">Model</label>
    <input type="text" th:field="*{model}" id="model" placeholder="add model">
    <label for="screenSize">Screen size</label>
    <input type="text" th:field="*{screenSize}" id="screenSize" placeholder="add screen size">
    <label for="resolution">Resolution</label>
    <input type="text" th:field="*{resolution}" id="resolution" placeholder="add resolution">
    <input type="submit" value="Update Description">
</form>
</body>
</html>