<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<meta charset="UTF-8">
<title>Update product</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>
<body>
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal">Внесите изменения</h5>
    <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="/products">Главная</a>
    </nav>
</div>
<form action="#" th:action="@{/product-create}" th:object="${product}" method="post">
    <label for="id">Id</label>
    <input readonly type="number" th:field="*{id}" id="id" placeholder="ID">
    <label for="image">Изображение</label>
    <input type="text" th:field="*{image}" id="image" placeholder="Добавьте изображение">
    <label for="name">Название</label>
    <input type="text" th:field="*{name}" id="name" placeholder="Введите название">
    <label for="vendor">Брэнд</label>
    <input type="text" th:field="*{vendor}" id="vendor" placeholder="Введите брэнд">
    <label for="price">Категория</label>
    <input type="text" th:field="*{category}" id="category" placeholder="Введите категорию">
    <label for="price">Цена</label>
    <input type="number" th:field="*{price}" id="price" placeholder="Введите цену">
    <label for="ram">Оперативная память</label>
    <input type="number" th:field="*{ram}" id="ram" placeholder="Введите объем ОЗУ">
    <label for="cpu">Процессор</label>
    <input type="text" th:field="*{cpu}" id="cpu" placeholder="Название процессора">
    <label for="cores">Ядра</label>
    <input type="number" th:field="*{cores}" id="cores" placeholder="Кол. ядер">
    <label for="storage">Память</label>
    <input type="number" th:field="*{storage}" id="storage" placeholder="Объем. памяти">
    <label for="descriptionId">Описание</label>
    <input type="number" th:field="*{descriptionId}" id="descriptionId" placeholder="Номер описания">
    <br/>
    <input type="submit" value="Внести изменения">
</form>
</body>
</html>