<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<meta charset="UTF-8">
<title>Create product</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>
<body>
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal">Make changes</h5>
    <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="/products">Main</a>
    </nav>
</div>
<form action="#" th:action="@{/product-create}" th:object="${product}" method="post">
    <label for="image">Image</label>
    <input type="text" th:field="*{image}" id="image" placeholder="Image">
    <label for="name">Name</label>
    <input type="text" th:field="*{name}" id="name" placeholder="Name">
    <label for="vendor">Vendor</label>
    <input type="text" th:field="*{vendor}" id="vendor" placeholder="vendor">
    <label for="price">Category</label>
    <input type="text" th:field="*{category}" id="category" placeholder="category">
    <label for="price">Price</label>
    <input type="text" th:field="*{price}" id="price" placeholder="price">
    <label for="ram">RAM</label>
    <input type="text" th:field="*{ram}" id="ram" placeholder="RAM">
    <label for="cpu">CPU</label>
    <input type="text" th:field="*{cpu}" id="cpu" placeholder="CPU">
    <label for="cores">Cores</label>
    <input type="text" th:field="*{cores}" id="cores" placeholder="cores">
    <label for="storage">Storage</label>
    <input type="text" th:field="*{storage}" id="storage" placeholder="Storage">
    <label for="descriptionId">Description</label>
    <input type="text" th:field="*{descriptionId}" id="descriptionId" placeholder="descriptionId">
    <br/>
    <input type="submit" value="Update Product">
</form>
</body>
</html>