<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Create Description</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal">Добавление описания</h5>
    <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="/products">Главная</a>
    </nav>
</div>
<form action="#" th:action="@{/description-create}" th:object="${description}" method="post">
    <div class="container">
        <div class="col-lg">
            <div class="mb-1">
                <label for="OperationSystem" class="form-label">Операционная система</label>
                <input type="text" class="form-control" th:field="*{OperationSystem}" id="OperationSystem"
                       placeholder="Укажите операционную систему">
            </div>
        </div>
        <div class="col-lg">
            <div class="mb-1">
                <label for="color" class="form-label">Цвет</label>
                <input type="text" class="form-control" th:field="*{color}" id="color"
                       placeholder="Укажите цвет">
            </div>
        </div>
        <div class="col-lg">
            <div class="mb-1">
                <label for="model" class="form-label">Модель</label>
                <input type="text" class="form-control" th:field="*{model}" id="model"
                       placeholder="Укажите модель">
            </div>
        </div>
        <div class="col-lg">
            <div class="mb-1">
                <label for="screenSize" class="form-label">Размер экрана</label>
                <input type="text" class="form-control" th:field="*{screenSize}" id="screenSize"
                       placeholder="Укажите размер экрана">
            </div>
        </div>
        <div class="col-lg">
            <div class="mb-1">
                <label for="resolution" class="form-label">Разрешение экрана</label>
                <input type="text" class="form-control" th:field="*{resolution}" id="resolution"
                       placeholder="Укажите разрешение экрана">
            </div>
        </div>
        <div class="container mt-3" style="width: 300px;">
            <div class="col-lg">
                <input type="submit" class="btn btn-primary" value="Создать описание">
            </div>
        </div>
    </div>
</form>
</body>
</html>
